.builtin {
    /* font-lock-builtin-face */
    color: #483d8b;
}
.comment {
    /* font-lock-comment-face */
    color: #b22222;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #b22222;
}
.constant {
    /* font-lock-constant-face */
    color: #008b8b;
}
.string {
    /* font-lock-string-face */
    color: #8b2252;
}
.type {
    /* font-lock-type-face */
    color: #228b22;
}